<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  {% comment %} 로그인 된 상태일때 {% endcomment %}
  {% if request.user.is_authenticated %} 
    <h3>Hello{{ user }}</h3>
    <form action="{% url 'accounts:logout' %}" method="POST">
      {% csrf_token %}
      <input type="submit" value='logout'>
    </form>
  {% comment %} 로그아웃된 상태일때 {% endcomment %}
  {% else %}
    <a href="{% url 'accounts:login' %}">Login</a>
    <a href="{% url 'accounts:signup' %}">Signup</a>
  {% endif %}
  {% block content %}
  {% endblock content %}
</body>
</html>