

$메인컬러 : #ff0000;

.red {
    color: $메인컬러;
}
.my-alert {
    background: #eeeeee;
    padding: 20px;
    border-radius: 5px;
    max-width: 500px;
    width: 100%;
    margin: auto;
}
.my-alert2 {
    @extend .my-alert;
    background: #ffe591;
}

.my-alert p {
    margin-bottom: 0;
}

// div.container {
//     h4 {
//         color: blue;
//     }
//     p {
//         color: green;
//     }
// }

