{% extends 'base.html' %}

{% block content %}
  <h1>Movies</h1>

  <div class="movie-list">
    {% for movie in movies %}
      <div class="movie">
        <h3>{{ movie.title }}</h3>
        <p>{{ movie.overview }}</p>
        <a href="{% url 'movies:detail' movie.pk %}">[detail]</a>
        <hr>
      </div>
    {% endfor %}
  </div>
{% endblock %}


{% block script %}

<script>
  let pageNum = 2

  document.addEventListener('scroll', (event) => {
    //console.log(event)
    const {scrollHeight, scrollTop, clientHeight} = document.documentElement
    // console.log(scrollHeight, scrollTop, clientHeight)
    if (scrollHeight - Math.round(scrollTop) === clientHeight) {
      axios({
        method: 'get',
        url: `/movies/?page=${pageNum}`,
        headers: {'x-requested-with': 'XMLHttpRequest'}
      })
        .then((res) => {
          const movies = res.data
          
          movies.forEach((movie) => {
            const movieList = document.querySelector('.movie-list')
            const movieDiv = document.createElement('div')

            const movieHTML = `
              <h3>${ movie.fields.title }</h3>
              <p>${ movie.fields.overview }</p>
              <a href="${ movie.pk }/">[detail]</a>
              <hr>
            `
            movieDiv.innerHTML = movieHTML
            movieList.appendChild(movieDiv)
          })
          pageNum += 1
        })
    }
  })

</script>
{% endblock %}
